@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* .body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  background-color: #e5e5f7;
  opacity: 0.4;
  background-image: linear-gradient(
      #444cf7 1.4000000000000001px,
      transparent 1.4000000000000001px
    ),
    linear-gradient(
      to right,
      #444cf7 1.4000000000000001px,
      #e5e5f7 1.4000000000000001px
    );
  background-size: 28px 28px;
} */
.body {
  background-image: url("../css/madera.jpg");
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  background-color: #ffff;
  font-family: "Roboto", sans-serif;
  margin: auto;
  width: 30%;
  max-width: 600vh;
  padding: 0.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  text-align: left;
}
.form_container {
  margin-top: 0.5em;
  display: grid;
  gap: 1.5em;
}

.form_group {
  position: relative;
  color: rgb(245, 14, 14);
}
.form_input {
  width: 100%;
  background: none;
  color: #000000;
  font-size: 1rem;
  padding: 0.4em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid #0000007e;
  font-family: " Roboto ", sans-serif;
  text-align: center;
}

.form_input:not(:placeholder-show) {
  color: #4d4646;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-show) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}

.form_label {
  color: #0000007e;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.submit {
  background-color: #3866f2;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
  margin-left: 5px;
}
.form_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  caret-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
}
.form_input:focus + .form_label,
.form_input:not(:placeholder-show) + .form_label ~ .form_line {
  transform: scale(1);
}

.status {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
