.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.numfila {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: -1%;
}

.css-button-rounded--blue {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #2c0b8e;
  background: #2c0b8e;
}
.css-button-rounded--blue:hover {
  background: #fff;
  color: #2c0b8e;
}

.fondo {
  min-height: 96vh;
  background-image: url("../css/fondoLanding.jpg");
  background-position-x: center;
  background-position-y: center;
}
